<!DOCTYPE html>
<html>
<head>
	<title>Hello Angular</title>
	<script type="text/javascript" src="lib/angular.js"></script>
</head>
<body data-ng-app="MyApp">
<div data-ng-controller="ListController">
<ul>
	<li data-ng-repeat="user in users track by user.id" data-ng-click="selectUser(user)">
		{{user.first_name}}{{user.last_name}}
	</li>
</ul>
</div>
<div data-ng-controller="DetailController">
	<div data-ng-if="!currentUser">
		<p>You have not selected any employee</p>
	</div>
	<div data-ng-if = "currentUser">
		<p>Name: {{currentUser.first_name}}{{currentUser.last_name}}</p>
		<p>Company: {{currentUser.company}}</p>
	</div>
</div>



<script type="text/javascript" src="./js/module.js"></script>
<script type="text/javascript" src="./js/controllers/listcontroller.js"></script>
<script type="text/javascript" src="./js/controllers/detailcontroller.js"></script>
<script type="text/javascript" src="./js/services/userservice.js"></script>
</body>
</html>