<!DOCTYPE html>
<html>
<head>
	<title>Hello Angular</title>
	<script type="text/javascript" src="lib/angular.js"></script>
</head>
<body data-ng-app="MyApp">
<div data-ng-controller="ListCtrl">
	<ul>
	<li data-ng-repeat="user in users track by user.id" data-ng-click="selectUser(user)">
		{{user.first_name}}{{user.last_name}}
	</li>
	</ul>
</div>
<script type="text/javascript" src="js/module.js"></script>
<script type="text/javascript" src="js/controllers/listcontroller.js"></script>
</body>
</html>